#app {
  background-color: $bg-color;
}

body {
  margin: 0;
  background-color: $bg-color;
}

.hide {
  display: none;
}

//nicknamevy

#nickname-form {
  margin-top: 30vh;
  margin-bottom: 20vh;
}

#connectBtn {
  border-radius: 10%;
  background-color: $dark-green;
  color: lightgrey;
  padding: 1vh;
}

#connectBtn:hover {
  background-color: black;
  color: lightgrey;
}

#start-game {
  background-color: $dark-green;
  color: lightgrey;
  padding: 1vh;
}

#start-game:hover {
  background-color: black;
  color: lightgrey;
}

#lobby {
  border: 4px dotted black;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#start-game {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
}

#players {
  list-style-type: none;
  padding-left: 0;
  color: white;
  font-size: 4vh;
}

// Spelsida

#game-title {
  text-align: center;
  padding-top: 30px;
  margin-top: 0vh;
}

#round{
  text-align: center;
}

#game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#gameBoard {
  border: 2px solid black;
  background-color: lightgrey;
  height: 80vh;
  width: 70vw;
  margin-left: 3vw;
  cursor: grab;
  position: relative; //behövs för att grid ska läggas relativt till gameBoard
}

.grid-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#scoreboard-title {
  text-align: center;
  margin-bottom: 30px;
}

#scoreboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 20vw;
  margin-right: 3vw;
  padding: 5vh;
  border: 2px solid black;
  background-color: rgb(192, 180, 172);
}

#score-wrapper {
  font-size: xx-large;
}

#your-score,
#opponent-score {
  font-size: xx-large;
}

#your-name {
  margin-top: 20px;
}

#opponent-name {
  margin-top: 20px;
}

.blue {
  color: rgb(3, 37, 255);
  font-size: x-large;
  font-weight: bold;
}

.orange {
  color: rgb(213, 74, 0);
  font-size: x-large;
  font-weight: bold;
}

.reaction-time {
  font-size: xx-large;
}


#virusImage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}