@import "bootstrap/scss/bootstrap";
@import "variables";
@import "layout";

#nickname-form {
  margin-top: 30vh;
  margin-bottom: 20vh;
}

#connectBtn {
  border-radius: 10%;
  background-color: $dark-green;
  color: lightgrey;
  padding: 1vh;
}

#connectBtn:hover {
  background-color: black;
  color: lightgrey;
}

#start-game {
  background-color: $dark-green;
  color: lightgrey;
  padding: 1vh;
}

#start-game:hover {
  background-color: black;
  color: lightgrey;
}

#lobby {
  border: 4px dotted black;
  margin-bottom: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#start-game {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
}

#players {
  list-style-type: none;
  padding-left: 0;
  color: white;
  font-size: 4vh;
}
